    /* Add your CSS styles here */
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px 0;
        text-align: center;
    }
    ul.nav-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    ul.nav-menu li {
        display: inline-block;
        position: relative;
    }

    ul.nav-menu li a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
        background-color: rgb(33, 43, 131);
    }

    ul.nav-menu li:hover ul.dropdown {
        display: block;
    }

    ul.dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: rgb(110, 131, 226);
        border: 1px solid rgb(116, 152, 207);
    }

    ul.dropdown li {
        display: block;
    }

    ul.dropdown li a {
        padding: 10px 20px;
        text-decoration: none;
        color: rgb(255, 255, 255);
    }